* {
    box-sizing: border-box;
    font-family: 'Poppins';
}
p {
    font-family: 'Poppins'!important;
    font-size: 12px!important;
    color:#000;
}

.MuiCard-root .MuiButton-label {
    font-family: 'Oswald'!important;
    text-transform: uppercase;
    letter-spacing: normal;
    color:#c51162;
}
.MuiInputBase-input {
    font-size: 11px!important;
}
body {
    background: linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)),url('./images/background.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    padding: 0px;
    height: 100vh;
    margin: 0px;
}
.MuiTypography-h5 {
    font-family: 'Oswald'!important;
    text-transform: uppercase;
    font-size: 18px!important;
    color:#c51162;
}

@media (min-width: 600px) {
    .MuiGrid-grid-sm-8 {
        flex-grow: 0;
        max-width: 73%!important;
        flex-basis: 73%!important;
    }
}



